  <div class="page-header">
    <h1>
      {{catTitle}}
      <small>
	{{{catContent}}}
      </small>
    </h1>
  </div>
  <ul class="breadcrumb">
    {{#tags}}
      <li><a href="#/categorytag/{{catName}}/{{.}}">{{.}}</a> <span class="divider">/</span></li>
    {{/tags}}
    </ul>
  <div>
    <a class="cream" href="#/category/{{catName}}?sort=1"><h4>По убыванию </a>
    <a class="cream" href="#/category/{{catName}}">По возрастанию</h4></a>
    <div class="admin-only"><a class="cream" href="#/edit_category/{{catId}}"><h4>Редактировать раздел</h4></a>
    </div>
  </div>
