  <div class="page-header">
    <h1>
      {{catTitle}}
      <small>
	{{{catContent}}}
      </small>
    </h1>
  </div>
  <ul class="breadcrumb">
    {{#tags}}
      <li><a href="#/categorytag/{{../catName}}/{{.}}">{{.}}</a> <span class="divider">/</span></li>
    {{/tags}}
    </ul>
  <div>
    <a class="cream" href="#/category/{{catName}}?sort=1"><h4>По убыванию </a>
    <a class="cream" href="#/category/{{catName}}">По возрастанию</h4></a>
    <div class="admin-only"><h4><a class="cream" href="#/edit_category/{{catId}}">Редактировать раздел</a></h4>
    <h4><a class="cream" href="#/delcategory/{{catName}}">Удалить раздел</a></h4>
    </div>


  </div>
