<div id="addCatModal">
  <div class="page-header">
    <h1>
      Изменить раздел
      <small>
	Редактирование существующего раздела
      </small>
    </h1>
  </div>
  <form action="#/edit_category/" method="post">
    <input type="hidden" name="catId" value="{{catId}}">
    <input type="hidden" name="catName" value="{{catName}}">
    <label>Название (русскими буквами, например: Спиртные напитки): </label>
    <input type="text"
	   title="Название должно быть введено"
           x-moz-errormessage="Название должно быть введено"
           name="catTitle"
           placeholder="Вводить здесь..."
	   required
           value="{{catTitle}}"/>
    <br/>

    <div class="row well">
      <textarea rows="10" cols="100" name="catContent">{{catContent}}</textarea>
    </div>
    <br/>
    <br/>
    <div class="btn-group">
      <a href="javascript:history.back();" class="btn btn-large">Закрыть</a>
      <button type="submit" class="btn btn-primary btn-large"> Изменить</button>
    </div>
  </form>
</div>
