<script>
  (function() {

  var bar = $('.bar');
  var progressDiv = $('.progress');
  var percent = $('.percent');
  var status = $('#status');

  $('.imageform').ajaxForm({
  beforeSend: function() {
  status.empty();
  var percentVal = '0%';
  progressDiv.addClass("active");
  bar.width(percentVal);
  percent.html(percentVal);
  },
  uploadProgress: function(event, position, total, percentComplete) {
  var percentVal = percentComplete + '%';
  bar.width(percentVal)
  percent.html(percentVal);
  },
  complete: function(xhr) {
  d = new Date();
  $("#item_img1").attr("src","/json/image1?id={{ _id }}&tt="+d.getTime());
  $("#item_img2").attr("src","/json/image2?id={{ _id }}&tt="+d.getTime());
  $("#item_img3").attr("src","/json/image3?id={{ _id }}&tt="+d.getTime());
  $("#item_img4").attr("src","/json/image4?id={{ _id }}&tt="+d.getTime());
  $("#item_img5").attr("src","/json/image5?id={{ _id }}&tt="+d.getTime());
  var percentVal = '100' + '%';
  bar.width(percentVal)
  percent.html(percentVal);
  progressDiv.removeClass("active");
  status.html(xhr.responseText);
  }
  });

  })();
</script>


<div class="page-header">
  <h1>
    Редактирование товара
    <small>
      Можно добавить дополнительные изображения
    </small>
  </h1>
</div>


<form  action="/json/edit" method="post" enctype="multipart/form-data">
  <input type="hidden" name="id" value="{{ _id }}" />
  <label> Заголовок:</label>
  <input type="text"  name="title" value="{{ title }}" />
  <br>



  <label class="control-label" for="select01">
    Раздел:
  </label>
  <div class="controls">
    <select name="category" id="select01" required>
      <option></option>
      {{#categories}}
      <option value="{{catName}}" {{#isSelected}}selected{{/isSelected}}>{{catTitle}}</option>
      {{/categories}}
    </select>
  </div>

  <label>Описание: </label>
  <input type="text" name="description" value="{{ description }}" />
  <br>
  <label>Тэги: </label>
  <input type="text" name="tags" value="{{ tags }}" />

  <label>Старая цена: </label>
  <input type="text" name="old_cost" style="text-decoration:line-through;" value="{{ old_cost }}"></input>

  <label>Цена: </label>
  <input type="text" name="cost" required  value="{{ cost }}" />
  <br/>
  <button type="submit" class="btn btn-success">Изменить</button>

</form>

<div class="row">
  <div class="progress progress-striped active">
    <div class="bar"></div >
    <div class="percent">0%</div >
  </div>
  <div class="status"> </div>
  <div class="span4 well">
    <h2>Изображение1: </h2>
    <form class="imageform" action="/json/uploadimage" method="post" enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{ _id }}" />
      <input type="hidden" name="name" value="1.jpeg" />
      <input type="file" name="image">
      <input type="submit" value="Закачать изображение 1">
    </form>
     <div  class="image-galery2" >
       <a href="/json/image1?id={{ _id }}" rel="lightbox"><img id="item_img1" class="img-polaroid" src="/json/image1?id={{ _id }}"></img></a>
      </div>
  </div>

  <div class="span4 well">
    <h2>Изображение2: </h2>
    <form class="imageform" action="/json/uploadimage" method="post" enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{ _id }}" />
      <input type="hidden" name="name" value="2.jpeg" />
      <input type="file" name="image"><br>
      <input type="submit" value="Закачать изображение 2">
    </form>
    <div  class="image-galery2" >
      <a href="/json/image2?id={{ _id }}" rel="lightbox"><img id="item_img2" class="img-polaroid" src="/json/image2?id={{ _id }}"></img></a>
    </div>
  </div>

  <div class="span4 well">
    <h2>Изображение3: </h2>
    <form class="imageform" action="/json/uploadimage" method="post" enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{ _id }}" />
      <input type="hidden" name="name" value="3.jpeg" />
      <input type="file" name="image"><br>
      <input type="submit" value="Закачать изображение 1">
    </form>
     <div  class="image-galery2" >
       <a href="/json/image3?id={{ _id }}" rel="lightbox"><img id="item_img3" class="img-polaroid" src="/json/image3?id={{ _id }}"></img></a>
      </div>
  </div>

  <div class="span4 well">
    <h2>Изображение 4: </h2>
    <form class="imageform" action="/json/uploadimage" method="post" enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{ _id }}" />
      <input type="hidden" name="name" value="4.jpeg" />
      <input type="file" name="image"><br>
      <input type="submit" value="Закачать изображение 4">
    </form>
     <div  class="image-galery2" >
       <a href="/json/image4?id={{ _id }}" rel="lightbox"><img id="item_img4" class="img-polaroid" src="/json/image4?id={{ _id }}"></img></a>
      </div>
  </div>

  <div class="span4 well">
    <h2>Изображение 5: </h2>
    <form class="imageform" action="/json/uploadimage" method="post" enctype="multipart/form-data">
      <input type="hidden" name="id" value="{{ _id }}" />
      <input type="hidden" name="name" value="5.jpeg" />
      <input type="file" name="image"><br>
      <input type="submit" value="Закачать изображение 5">
    </form>
     <div  class="image-galery2" >
       <a href="/json/image5?id={{ _id }}" rel="lightbox"><img id="item_img5" class="img-polaroid" src="/json/image5?id={{ _id }}"></img></a>
      </div>
  </div>
</div>
