<div class="main-cont">
<a class="admin-only" href="#/editpage/{{contentId}}">редактировать страницу</a>

<h1>{{ contentTitle }}</h1>
{{{ contentBody }}}

	<script>

		var map = L.map('map').setView([55.17533, 61.3828], 17);

		L.tileLayer('http://{s}.tile.openstreetmap.org//{z}/{x}/{y}.png', {
			maxZoom: 18,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
		}).addTo(map);


		L.marker([55.17498, 61.38333]).addTo(map)
			.bindPopup("<b>Самоделкин+</b><br />Мы здесь!").openPopup();

//		L.circle([51.508, -0.11], 500, {
//			color: 'red',
//			fillColor: '#f03',
//			fillOpacity: 0.5
//		}).addTo(map).bindPopup("I am a circle.");

//		L.polygon([
//			[51.509, -0.08],
//			[51.503, -0.06],
//			[51.51, -0.047]
//		]).addTo(map).bindPopup("I am a polygon.");


		var popup = L.popup();

		function onMapClick(e) {
			popup
				.setLatLng(e.latlng)
				.setContent("You clicked the map at " + e.latlng.toString())
				.openOn(map);
		}

		map.on('click', onMapClick);

	</script>
</div>