<div class="page-header">
  <h1>
    Заказы
    <small>
      Перечень заказов посетителей с сайта
    </small>
  </h1>
</div>

<div class="alert alert-block hide" id="newRequestsAlert">
  <a class="close" data-dismiss="alert" href="#/">×</a>
  <h4 class="alert-heading">Новый заказ!</h4>
  <a href="#/requests2">Посмотреть</a>
</div>

<a class="btn btn-info"  href="#/requests2">ОБНОВИТЬ</a>

<!--
<ul class="nav nav-tabs">
  <li>
    <a href="#/requests">Все</a>
  </li>
  <li><a href="#/newrequests" >Только новые</a></li>
  <li><a href="#/oldrequests" >Только старые</a></li>
</ul>
-->